html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
